body {
    overflow-y: hidden;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 700px;
    background-color: white;
}

#form {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#content {
    display: flex;
    align-items: center;
    gap: 10rem;
}

#task-list {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    overflow-y: auto;
    background-color: aqua;
}

.todo-item {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.list {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.list-select-button {
    width: 90%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
}

.todo-item button,
.list-delete-button {
    height: fit-content;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.todo-item button:hover {
    color: rgb(155, 155, 155);
}

.todo-item button:active {
    color: rgb(55, 55, 55);
}

#list-input {
    width: 492px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 9px;
}

#task-input {
    width: 792px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

#list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#list-list {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 500px;
    background-color: aqua;
}

#expanded-task {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
}

.hidden {
    visibility: hidden;
}

.todo-item h1 {
    width: 90%;
}