:root {
    --black: #000000ff;
    --jet: #323232ff;
    --davys-grey: #5e5e5eff;
    --quick-silver: #a0a0a0ff;
    --platinum: #e2e2e2ff;
}

* {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#header {
    background-color: var(--platinum);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

#content {
    display: grid;
    background-color: var(--davys-grey);
    grid-template-columns: 9fr 40fr;
    height: 100vh;
    gap: 10px;
    width: 100vw;
}

#list-wrapper,
#task-wrapper {
    padding-top: 10px;
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-rows: 10fr 1fr;
}

#list-list,
#task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 10px;
}

#list-input-div,
#task-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--quick-silver);
}

#list-input-div {
    background-color: var(--davys-grey);
}

#list-input {
    width: 90%
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--platinum);
    height: 80px;
    width: 95%;
}

.list-select-button {
    width: 95%;
    height: 100%;
    border: none;
    background-color: var(--platinum);
}

#task-list {
    background-color: var(--quick-silver);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#titlecheck-div {
    display: flex;
    gap: 10px;
}

.todo-item {
    background-color: var(--platinum);
    flex-shrink: 0;
    font-size: 2rem;
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#checkbox-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkbox-div input {
    background-color: pink;
}

.hidden {
    visibility: hidden;
}

#expanded-task {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 700px;
    background-color: white;
}

#form {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.current-list {
    border-style: solid;
    border-color: #000;
}

.checked {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    color: grey;
    text-decoration-color: black;
}